/****************************************************

    Site Styles

****************************************************/

/****************************************************
	Fonts
****************************************************/
@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend.woff2") format("woff2-variations");
  font-weight: 0 1000;
  font-display: swap;
}

/****************************************************
    Tailwind
****************************************************/
@import "./tailwind.css";

/****************************************************
	Layout Styles
****************************************************/
html {
  min-width: 320px;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 300;
  color: var(--foreground);
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 60px;
  padding-bottom: 120px;
  z-index: 1;

  @media (width >= 64rem) {
    padding-top: 90px;
  }
}

.homeBg {
  position: fixed;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.homeBg:before,
.homeBg:after {
  content: "";
  position: absolute;
  inset: 0;
}

.homeBg:before {
  background-image: url("/images/backgrounds/home_bg.jpg");
  background-position: center;
  background-size: cover;
  filter: none;
  transform: none;
}

.homeBg:after {
  display: none;
}

section {
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding-inline: calc(var(--spacing) * 4);
  margin-inline: auto;
  margin-top: calc(var(--spacing) * 10);

  @media (width >= 64rem) {
    padding-inline: calc(var(--spacing) * 8);
    margin-top: calc(var(--spacing) * 15);
  }
}

/****************************************************
	Generic Styles
****************************************************/
svg {
  pointer-events: none;
}

button {
  cursor: default;

  &:enabled {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed !important;
  }
}

.rte {
  a {
    &:not(.button) {
      color: var(--color-blue-500);
      text-decoration: underline;
      text-underline-offset: 2px;
      outline-offset: 2px;
    }
  }
}

/****************************************************
	Remove Search Reset Button
****************************************************/
/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
